body {
  font-family: "Lato", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: orange;
  height: 100%;
}

#header {
  background-color: lightblue;
  height: 50px;
  font-size: 36px;
  padding-left: 20px;
}

#footer {
  background-color: lightblue;
  height: 36px;
  font-size: 24px;
  padding-left: 20px;
}

#content {
  background-color: lightgray;
  display: flex;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 25px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-container * {
  margin-top: 5px;
  color: white;
}

.dropdown-container button {
  color: black;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 150px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#to-do-holder {
  display: flex;
  flex-wrap: wrap;
}

#to-do-holder div {
  border: solid black 2px;
  border-radius: 25px;
  margin: 5px;
  padding: 0px 15px;
}

.main h1 {
  text-align: center;
}

#to-do-holder button {
  border-radius: 25px;
  height: 80px;
  min-width: 80px;
  font-size: 60px;
  align-self: center;
  margin: 15px;
}

#to-do-holder button:hover {
  background-color: rgb(230, 255, 194);
}
